* {
    max-width: 100vw;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: #252525;

    transition: all .3s;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #fbfbfb;
}

section {
    padding: 0 70px;
}

h1 {
    font-size: 35px;
}

button:hover {
    opacity: .8;
}

#voltarAoTopo {
    height: 30px;
    width: 30px;

    padding: 10px;

    border-radius: 50px;

    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;

    background-color: #E76F51;

    opacity: 0;

    transition: all .6s ease-in-out;
}

/* Modos de Cores (escuro/claro */
.dark-mode {
    filter: invert();
}

img {
    filter: invert(0%);
}

.light-mode {}


/* Header Menu */
#header {
    width: 100%;
}

header nav #menu {
    height: 150px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav #menu img {
    width: 162px;
}

header nav #menu a {
    text-decoration: none;
}

header nav #menu a:hover {
    color: #E76F51;
}

.section__header {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;

}

.section__header h1 {
    width: 100%;
    text-align: center;
    margin: 0;
}

.section__header h4 {
    width: 100%;

    margin: 0;

    color: #E76F51;

    text-align: center;
}




/* Home */
#home {
    height: calc(100vh -150px);

    display: flex;
    align-items: center;

    padding-right: 0;

    background-color: #ffffff;
}

#home__left {
    width: 40%;
}

#home__titulo {
    padding: 0 60px;
}

#home__titulo h1 {
    font-weight: 100;
}

#home__titulo span {
    color: #2A9D8F;
}

#home__cta {
    display: flex;
    justify-content: start;
    margin: 60px;
    margin-top: 0;
}

#home__cta button {
    border-radius: 5px;
    border: none;
    height: 50px;
    padding: 0 30px;
    margin-right: 20px;
}

#home__cta__btn__ver-menu {
    background-color: #E76F51;
    color: #ffffff;
}

#home__cta__btn__local {
    background-color: #ffffff;
}

#home__icones {
    display: flex;
    align-items: center;
    width: 100%;
}

.home__icones__linha-vertical {
    border-left: #252525cb solid 1px;
    height: 50px;
}

#home__icones div img {
    margin: 0 60px;
    height: 50px;
}

#home__icones div p {
    margin-top: 3px;
    text-align: center;
}

#home__right {
    width: 60%;
}

/* carrossel */
#home__carrossel {
    overflow: hidden;
    width: 100%;
    height: 80vh;
}

#home__carrossel__container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

#home__carrossel__container img {
    object-fit: cover;

    width: 100%;
    height: 80vh;

    aspect-ratio: 2/1;
}



/* Especialidades */
#especialidades {
    background-color: #EFEFEF;
}

#especialidades #container {
    display: flex;
}

#especialidades__left {
    width: 50%;
}

#especialidades__right {
    width: 50%;
}


/* Nossa Cozinha */
.cards_nossa-cozinha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nossa-cozinha__card {
    margin: 20px 30px;
}

.nossa-cozinha__card img {
    width: 300px;
    align-items: center;
    border-radius: 5px;
}

.card__descricao-do-chefe {
    background-color: white;
    border-radius: 5px;
    padding: 0px 40px 10px 40px;
    text-align: center;
    margin: 30px;
    position: absolute;
    z-index: 1;
    margin-top: -150px;
}

.card__descricao-do-chefe p {
    margin: 10px 0 ;
}

.card__descricao-do-chefe h4 {
    margin: 15px 0;
    font-weight: normal;
}

.card__descricao-do-chefe img {
    margin: 2px 15px 2px 15px;
    width: 20px;
    height: 20px;
}

.card__descricao-do-chefe img:hover {
    margin: 0 14px 0 14px;
    width: 22px;
    height: 22px;
}
