* {
    max-width: 100vw;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: #252525;

    transition: all .3s;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #fbfbfb;
}

section {
    padding: 0 70px;
}

h1 {
    font-size: 35px;
}

button:hover {
    opacity: .8;
}

#voltarAoTopo {
    height: 30px;
    width: 30px;

    padding: 10px;

    border-radius: 50px;

    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;

    background-color: #E76F51;

    opacity: 0;

    transition: all .6s ease-in-out;
}

/* Modos de Cores (escuro/claro */
.dark-mode {
    filter: invert();
}

img {
    filter: invert(0%);
}

.light-mode {}


/* Header Menu */
#header {
    width: 100%;
}

header nav #menu {
    height: 150px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav #menu img {
    width: 162px;
}

header nav #menu a {
    text-decoration: none;
}

header nav #menu a:hover {
    color: #E76F51;
}

.section__header {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;

}

.section__header h1 {
    width: 100%;
    text-align: center;
    margin: 0;
}

.section__header h4 {
    width: 100%;

    margin: 0;

    color: #E76F51;

    text-align: center;
}




/* Home */
#home {
    height: calc(100vh -150px);

    display: flex;
    align-items: center;

    padding-right: 0;

    background-color: #ffffff;
}

#home__left {
    width: 40%;
}

#home__titulo {
    padding: 0 60px;
}

#home__titulo h1 {
    font-weight: 100;

}

#home__titulo span {
    color: #2A9D8F;
}

#home__cta {
    display: flex;
    justify-content: start;
    margin: 60px;
    margin-top: 0;
}

#home__cta button {
    border-radius: 5px;
    border: none;
    height: 50px;
    padding: 0 30px;
    margin-right: 20px;
}

#home__cta__btn__ver-menu {
    background-color: #E76F51;
    color: #ffffff;
}

#home__cta__btn__local {
    background-color: #ffffff;
}

#home__icones {
    display: flex;
    align-items: center;
    width: 100%;
}

.home__icones__linha-vertical {
    border-left: #252525cb solid 1px;
    height: 50px;
}

#home__icones div img {
    margin: 0 60px;
    height: 50px;
}

#home__icones div p {
    margin-top: 3px;
    text-align: center;
}

#home__right {
    width: 60%;
}

/* carrossel */
#home__carrossel {
    overflow: hidden;
    width: 100%;
    height: 80vh;
}

#home__carrossel__container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

#home__carrossel__container img {
    object-fit: cover;

    width: 100%;
    height: 80vh;

    aspect-ratio: 2/1;
}



/* Especialidades */
#especialidades {
    background-color: #EFEFEF;
}

#especialidades #container {
    display: flex;
}

#especialidades__left {
    width: 50%;
}

#especialidades__right {
    width: 50%;
}

/* Menu */
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__cafe-da-manha {
    float: left;
    margin-right: 70px;
    margin-bottom: 70px;
}
.menu__cafe-da-manha h2 {
    text-align: center;
}
#menu__cafe-1 {
    margin-top: 60px;
}
#menu__cafe-1 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
}
#menu__cafe-1 p {
    margin: 3px;
    padding-top: 15px;
}
#menu__cafe-1 h5 {
    margin: 3px;
}
#menu__cafe-2 {
    margin-top: 60px;
}
#menu__cafe-2 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
}
#menu__cafe-2 p {
    margin: 5px;
    padding-top: 70px;
}
#menu__cafe-2 h5 {
    margin: 0px;
}
#menu__cafe-3 {
    margin-top: 60px;
}
#menu__cafe-3 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
}
#menu__cafe-3 p {
    margin: 3px;
    padding-top: 75px;
}
#menu__cafe-3 h5 {
    margin: 3px;
}
#menu__cafe-4 {
    margin-top: 60px;
}
#menu__cafe-4 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
}
#menu__cafe-4 p {
    margin: 3px;
    padding-top: 70px;
}
#menu__cafe-4 h5 {
    margin: 3px;
}
.menu__almoco {
    float: left;
    margin-right: 70px;
    margin-bottom: 70px;
}
.menu__almoco h2 {
    text-align: center;
}
#menu__almoco-1 {
    margin-top: 60px;
}
#menu__almoco-1 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
}
#menu__almoco-1 p {
    margin: 3px;
    padding-top: 20px;
}
#menu__almoco-1 h5 {
    margin: 0px;
}
#menu__almoco-2 {
    margin-top: 60px;
}
#menu__almoco-2 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
}
#menu__almoco-2 p {
    margin: 3px;
    padding-top: 85px;
}
#menu__almoco-2 h5 {
    margin: 0px;
}
#menu__almoco-3 {
    margin-top: 60px;
}
#menu__almoco-3 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
}
#menu__almoco-3 p {
    margin: 3px;
    padding-top: 80px;
}
#menu__almoco-3 h5 {
    margin: 0px;
}
#menu__almoco-4 {
    margin-top: 60px;
}
#menu__almoco-4 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
}
#menu__almoco-4 p {
    margin: 3px;
    padding-top: 87px;
}
#menu__almoco-4 h5 {
    margin: 0px;
}

.menu__jantar {
    float: left;
    margin-bottom: 70px;
}
.menu__jantar h2 {
    text-align: center;
}
#menu__jantar-1 {
    margin-top: 60px;
}
#menu__jantar-1 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
}
#menu__jantar-1 p {
    margin: 3px;
    padding-top: 20px;
}
#menu__jantar-1 h5 {
    margin: 0px;
}
#menu__jantar-2 {
    margin-top: 60px;
}
#menu__jantar-2 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
}
#menu__jantar-2 p {
    margin: 3px;
    padding-top: 85px;
}
#menu__jantar-2 h5 {
    margin: 0px;
}
#menu__jantar-3 {
    margin-top: 60px;
}
#menu__jantar-3 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
}
#menu__jantar-3 p {
    margin: 3px;
    padding-top: 73px;
}
#menu__jantar-3 h5 {
    margin: 0px;
}

#menu__jantar-4 {
    margin-top: 60px;
}
#menu__jantar-4 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
}
#menu__jantar-4 p {
    margin: 3px;
    padding-top: 73px;
}
#menu__jantar-4 h5 {
    margin: 0px;
}